.InfoLineContainer{
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
}

.InfoLineItemEnd{
    margin-right: 75px;
    margin-left: 28px;
}
.InfoLineImg{
    width: 26px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.InfoLineSpan{
    color: #000000;
    font-size: 17px;
    cursor: default; 
    line-height: 25.5px;
}
.InfoLineLink{
    color: #000000;
    font-size: 19px; 
    line-height: 28.5px;
    font-weight: 600;
    padding: 15px 20px 15px 20px;
}

@media (max-width: 1200px) {

    .InfoLineContainer{
        height: 30px;
    }

    .InfoLineItemEnd{
        margin-right: 75px;
        margin-left: 20px;
    }
    .InfoLineImg{
        width: 15px;
        height: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .InfoLineSpan{
        font-size: 13px;
        line-height: 19.5px;
    }
    .InfoLineLink{
        font-size: 13px;
        line-height: 19.5px;
        font-weight: 600;
        padding: 9px 17px 9px 17px;
    }
}

@media (max-width: 800px) {

    .InfoLineContainer{
        height: 30px;
    }

    .InfoLineItemEnd{
        margin-right: 35px;
        margin-left: 10px;
    }
    .InfoLineImg{
        width: 9px;
        height: 10px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .InfoLineSpan{
        font-size: 7px;
        line-height: 8.21px;
    }
    .InfoLineLink{
        display: none;
    }
}