.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F3F3;
    width: 100%;
    height: 120px;
  }
  .RightPartHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;

 
    margin-right: 75px;
  }
  .Logo{
    width: 284px;
    height: 44px;
    margin-left: 75px;
    /* margin-right: 75px; */
  }
  .HeaderButton{
    background-color: transparent;
    border: none;
    color: #0C1A3F;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    margin-left: 37px;

}

@media (max-width: 1500px) {
  .HeaderButton {
    font-size: 17px;
  }
}
  