.ResearchImg{
    margin-top: 104px;
    width: 100%;
    height: 100%;

}
@media (max-width: 1200px) {
    .ResearchImg{
        margin-top: 60px;
    }
}

@media (max-width: 800px) {
    .ResearchImg{
        margin-top: 40px;
    }

}