.Caruselcontainer{
    width: 100%;
    height: 100%;
}
@media (max-width: 1200px) {
    .Caruselcontainer{
        height: 400px;
    }  
}

@media (max-width: 800px) {
    .Caruselcontainer{
        height: 235px;
    }  
}
